.text-center{
	text-align: center;
}

.text-right{
	text-align: right;
}

.bg-color{
	background-color: rgb(102, 101, 71);
}

.changing-color{
	color: rgb(102, 101, 71);
}

.check{
	border-style: solid;
}

.focal-point{
	margin-top: 25%;
	background-color: white;
	border-radius: 25px;
}

#quote{
	margin: 2% 1% 0 1%;
	font-variant: small-caps;
}

#source{
	margin-right: 2.5%;
	margin-bottom: 3%;
}

#new-quote{
	margin-right: 1%;
}

#new-quote:focus{
	color: white;
}

.social{
	margin: 0 0 3% 2%;
	border-radius: 15px;
}

.button{
	color: white;
	border: 1px solid white;
}

.social-nav{
	margin-left: 5%;
}
.footer-text{
	color: white;
}
